.menu {
	margin: 20px;
	margin-left:0px;
}

.menu a {
	margin-right: 10px;
}

table, th, td {
    border: 1px solid black;
}

tr:hover {
	background-color: silver;
}

.borner {
	margin: 20px;
	background-color: rgb(204, 153, 255);
}

